*{
    font-family: 'Poppins', sans-serif white;
    box-sizing: border-box;
    color: white;
    
}

body{
    background: rgb(0, 0, 0);
    
}
.sidebar a{
    display: inline-block;
    font-size: 25px;
    font-weight: 600px;
    margin-left: 30px;
    font-family: "Open Sans", sans-serif ;
    margin-top: 15px;
    margin-bottom: 20px;

}

.sidebar{
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    width: 16vw;
    height: 100vh; 
    background: black;
    border-right: 1px solid #262626;
}

.sidebar button{
    height: 60px;
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    width: 95%;
    
}

.sidebar button > span{
    display: flex;
    align-items: center;
    gap: 15px;
    height: 48px;
    padding: 0 12px;
    border-radius: 10px;
    line-height: 1;
    margin-left: 10px;

}

.sidebar button:hover > span {
    background-color: #1A1A1A;
}

.sidebar button:hover > span :is(i,img) {
    scale: 1.05s;
} 

.sidebar button > span > span {
    transition: 0.3s;
}



.sidebar button img {
    width: 25px;
    height: 25px;
    transition: 0.2s;

}

.sidebar button span {
    font-size: 16px;
}

.sidebar > nav {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar button:nth-last-child(-n+2) {
    margin-top: auto;
}


.sidebar button:last-child {
    margin-top: 1px;
}



.sidebar button img {
    filter: brightness(0) invert(1);
    
}


#Profile{
    border-radius: 50px;
    filter: brightness();
    border: solid 2px;
}

/* Profile section */

.profile-section span img{
    display: flex;
}

.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
    flex-direction: column;
    margin-top: 30px;

}

.profile-info {
   
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 400px;

    
  
}

#option {
    margin-bottom: -1%;
}


.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    float: left;
    align-items: center;
    margin-right: 5rem;
}

.profile-name {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-right: 10px;
    display: inline-block;
}

.profile-section button{
   background-color: #262626;
   font-size: 14px;
   font-weight: 600;
   cursor: pointer;
   border: none;
   padding: 0;
   padding: 10px 10px;
   border-radius: 6px;
   align-items: center;
   margin-top: 2px;
}

.profile-stats li {
    display: flex;
    margin-bottom: 5px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;    
    
}

#section_nwe{
    display: flex; 
    flex-direction: column;
    align-items: center; 
    width: fit-content; 
    margin-top: 100px;
    margin-bottom: 30px;
}
#section_nwe span{
    font-size: 15px;
    cursor: pointer;
}

#continer_icone_plus{
    width: fit-content;
    padding: 3px;
    border: 3px solid #121212;
    background-color: black;
    border-radius: 50px;
    margin-bottom: 8px;
    
 }
 #continer_icone_plus div{
    width: 75px;
    height: 75px;
    background-color: #121212;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
 }


 #continer_icone_plus div span{
     font-size: 80px;
     font-weight: 200;
     color: #707070;
     cursor: pointer;
}

.New{
    font-family: "Open Sans", sans-serif ;

}

.TAGGED {
    color: #64665D;
 }

 .SAVED {
    color: #64665D;
 }


section #gallery{
    display: flex;
    justify-content: center;
    align-items: center;
}


#gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    border-top: 1px solid #262626;
    margin-left: 185px;
    
}

#gallery button span {
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-left: 0%;
    gap: 5px;
    letter-spacing: 2px
}

#gallery button {
    height: 60px;
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    margin-right: 50px; 
}

#images {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2px; 
    justify-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

#images img:hover{
    filter: brightness(50%);
}

#images img {
    width: 310px;
    height: 310px;
    margin: 2px;
}

.section_footer {
    margin-top: 50px
}

#footer1 {
    /* colon 1*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif ;
}

#footer2 {
    /* colon 2*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    font-family: "Open Sans", sans-serif ;
}

#footer1 a, #footer2 a {
    font-size: 12px;
    color: #A8A8A8;
    cursor: pointer;
}


#select_langues {
    background-color: black;
    border: none;
    outline: none;
    width: 65px;
    font-family: "Open Sans", sans-serif ;
    font-size: 12px;
    color: #A8A8A8;
    cursor: pointer;
}
